@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    padding: 0;
    margin: 0;
}
.header{
  
    width: 100%;
    position: absolute;
}
.inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1147px;
    margin: 40px auto;

}
.logo-link{
    display: block;
    width: 102px;
}
.logo-link > img{
    width: 100%;
}
.menu-link{
    font-size: 14px;
letter-spacing: 0px;
line-height: 24px;
color: #ffffff;
font-weight: 400;
font-family: "Montserrat";
text-decoration: none;
}
.menu-nav > li{
    margin-right: 30px ;
    list-style: none;
}
.menu-nav{
    display: flex;
}
.main-part{
    max-width: 1920px;
    background-image: url(../img/home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 707px;
    margin: auto;
}
.menu-link:hover{
    color: #26201f;
    transition: .2s;
}
.text-layer{
    max-width: 601px;
    margin: auto;
    padding-top: 246px;

}
.text-layer h1{
    font-size: 48px;
line-height: 24px;
color: #ffffff;
font-weight: 400;
font-family: "Montserrat";
text-align: center;
}
.text-layer p{
    font-family: 'Roboto Slab';
    font-size: 20px;
line-height: 24px;
color: #ffffff;
font-weight: 400;
text-align: center;
padding-top: 49px;
}
.st-btn{
    width: 180px;
height: 50px;
border-radius: 2px;
background-color: transparent;
border: 2px solid #ffffff;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-size: 16px;
line-height: 24px;
color: #ffffff;
font-weight: 400;
font-family: "Montserrat";
margin: auto;
text-decoration: none;
text-transform: uppercase;
margin-top: 51px;

}
.mobile-nav{
    display: none;
}
@media (max-width: 1200px){
.logo{
    margin-left: 30px;

}
}
@media (max-width: 767px){
    .modal-window{
        overflow-y: scroll;

    }
    .fixid-header > .inner-header{
        margin-bottom: 0;
    }
    .navbar{
        display: none;
    }
    .inner-header{
        align-items: start;
    }
    .mobile-nav{
        display: block;
        margin-right: 30px;
        position: relative;
        top: -7px;

    }
    .burger{
        color: white;
        position: relative;
        z-index: 999999999;

    }
    .mob-menu > li {
        list-style: none;
        margin-bottom: 13px;
        text-align: center;
    }
    .mob-menu{
        background: #671d16;
        position: absolute;
        top: 0px;
        padding: 35px 0px;
        right: 0px;
        border-radius: 0px;
        opacity: 0;
        width: 0;
        visibility: hidden;
        right: 0;
        transition: all .3s ease-out;
        overflow: hidden;
    }
    .mn{
        display: block !important;
    }
    .active-list {
        width: 100%;
        opacity: 1;
        visibility: visible;
        height: 100vh;

    }
    .text-layer h1 {
        font-size: 37px;
        line-height: 55px;}
    .text-layer{
        padding-top: 180px;

    }
}
.st-btn:hover{
    background-color: #777777;
    transition: .3s;
}
.services-container{
    margin-top: 99px;
}
.txt-serv h3{
    font-size: 20px;
line-height: 24px;
color: #555555;
font-weight: 400;
font-family: "Montserrat";
text-align: center;
}
.txt-serv > p{
    font-size: 16px;
line-height: 24px;
color: #555555;
font-weight: 400;
font-family: "Roboto Slab";
text-align: center;
}
.servs{
    max-width: 1151px;
    display: flex;
    justify-content: center;

    margin: auto;
margin-top: 68px;
margin-bottom: 98px;

}
.serv-box h4{
    font-size: 14px;
line-height: 24px;
color: #555555;
font-weight: 400;
font-family: "Montserrat";
text-align: center;
text-transform: uppercase;
}
.serv-box p{

font-size: 14px;
line-height: 24px;
color: #555555;
font-weight: 400;
font-family: "Roboto Slab";
text-align: center;
}
.serv-box {
    max-width: 360px;
    padding: 10px;

}
.serv-img{
    max-width: 93px;
    margin: auto;
}
.about-container h3{
    font-size: 20px;
line-height: 24px;
color: #555555;
font-weight: 400;
font-family: "Montserrat";
text-align: center;
padding-top: 100px;
}
.about-container{
    background-color: #f8f8f8;
}
.line{
    width: 50px;
height: 2px;
background-color: #555555;
margin: 28px auto;
}
.white{
    background-color: white;
}
.about-container {
    font-size: 16px;
line-height: 24px;
color: #555555;
font-weight: 400;
font-family: "Roboto Slab";
text-align: center;
}
.about-boxes{
    display: flex;
    justify-content: space-between;
    max-width: 1138px;
    margin: auto;
    padding: 77px 30px;

}
.tx{
    max-width: 553px;
}
@media (max-width: 767px){
    .servs{
        flex-direction: column;
    align-items: center;
    }
    .serv-box {
        max-width: unset;
        margin-bottom: 25px;
    }
    .about-boxes{
        flex-direction: column;
    align-items: center;
    }
    .tx{
        margin-bottom: 20px;

    }
}
.member{
    width: 264px;
    height: 371px;
    position: relative;
    margin: auto;
}
.member-img{
    height: 251px;
    max-width: 264px;

}
.member-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.member h4{
    font-size: 14px;
line-height: 24px;
color: #555555;
font-weight: 400;
font-family: "Montserrat";
margin-top: 15px;
font-weight: 600;

}
.member p{
    font-size: 13px;
line-height: 24px;
color: #555555;
font-weight: 400;
font-family: "Roboto Slab";
margin-top: 13px;
}
.team-members{
    max-width: 1151px;
    margin: auto;
    padding-bottom: 29px;

}
/* .member-img::after{
    position: absolute;
    content: '';
    background-color: #bbbbbb;
        width: 100%;
    height: 251px;
    left: 0;
    opacity: 0;
    transition: .4s;
    visibility: hidden;
}
.member-img:hover::after{
    opacity: .5;
    transition: .4s;
    visibility: visible;
} */

.social{
    
    position: absolute;
    bottom: 155px;
    margin: auto;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition:all 0.3s linear,opacity 0.3s linear;

}
.member:hover .social{
    visibility: visible;
    opacity: 1;
}
.social a{
    margin-right: 15px;
    width: 28px;
    height: 28px;
    padding: 6px 9px;
}
.social a:hover{
    background-color: #c0301c;
    transition: .2s;
   
}
.left{
    position: absolute;
    right: 14px;
    top: 125px;
    width: 35px;
    height: 38px;
    background-color: #55555559;
    z-index: 99;
    cursor: pointer;
    transition: .2s;

}
.right{
    position: absolute;
    left: 14px;
    top: 125px;
    width: 35px;
    height: 38px;
    background-color: #55555559;
    z-index: 99;
    cursor: pointer;
    transition: .2s;

}
.left img{
    margin-top: 12px;
    transform: rotate(
180deg
);

}
.right img{
    margin-top: 12px;

}
.left:hover,.right:hover{
    background-color: #c0301c;
    transition: .2s;
}
.latest-works-container h2{
    font-size: 20px;
line-height: 24px;
color: #555555;
font-weight: 400;
font-family: "Montserrat";
text-align: center;
}
.latest-works-container{
    margin-top: 99px;
}
.cat{
    font-size: 16px;
line-height: 24px;
font-weight: 400;
font-family: "Roboto Slab";
text-align: center;
text-decoration: none;
color: black;
margin-right: 30px;
}
.cat:hover{
    color: #c0301c;

}
.works{
    max-width: 1151px;
    margin: auto;

}
.categories{
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
    flex-wrap: wrap;

}
.works-box{
    width: 361px;
    height: 321px;
    margin: 11px;

}
.work-hover{
    height: 0px;
    background-color: #c3655bbf;
    position: absolute;
    z-index: 99;
    top: 11px;
    opacity: 0;
    bottom: 100%;
    transition:all 0.3s ease;
    width: 100%;
    visibility: hidden;
}
.works-box:hover .work-hover{
    opacity: 1;
    max-width: 361px;
    height: 321px;
    background-color: #c3655bbf;
    position: absolute;
    z-index: 99;
    top: 11px;
    bottom: 0;
    visibility: visible;
    pointer-events: none;

}
.works-box > img{
    width: 100%;
    height: 100%;
}
.works-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    position: relative;
}
.inner-text > h4{
    font-size: 18px;
line-height: 24px;
color: #ffffff;
font-weight: 400;
font-family: "Montserrat";
text-align: center;
}
.inner-text p{
    font-size: 12px;
line-height: 24px;
color: #ffffff;
font-weight: 400;
font-family: "Roboto Slab";
text-align: center;
}
.inner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.btn{
    width: 101px;
    height: 39px;
    font-size: 14px;
letter-spacing: 1px;
line-height: 24px;
color: #c0301c;
font-weight: 400;
font-family: "Roboto Slab";
text-align: center;
background-color: white;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
margin: 24px auto;
pointer-events: auto;

}
.btn > img{
    margin-left: 10px;
}
@media (max-width: 400px){
    .works-box {
        max-width: 320px;
        height: 321px;
        margin: 11px 0px;
    }
}
.section{
    max-width: 1920px;
    height: 370px;
    background-image: url(../img/Paralax\ section.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 102px auto;

}
.section h2{
    max-width: 565px;
font-size: 30px;
line-height: 44px;
color: #ffffff;
font-weight: 400;
font-family: "Roboto Slab";
text-align: center;
margin: auto;
padding-top: 97px;
}
@media (max-width: 500px){
    .section h2 {
        max-width: 565px;
        font-size: 24px;
    }    
}
.blogs-container > p{
    font-size: 16px;
line-height: 24px;
color: #555555;
font-weight: 400;
font-family: "Roboto Slab";
text-align: center;
}
.blogs-container h3{
    font-size: 20px;
    line-height: 24px;
    color: #555555;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.post{
    display: flex;
    justify-content: center;
    margin: 25px 5px;
}
.hd{
    display: flex;
}
.date{
    width: 77px;
    height: 77px;
    color: #555555;
    border: 2px solid #555555;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 20px;
    color: #777777;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin-right: 47px;

}
.hd-link{
    font-size: 16px;
line-height: 24px;
color: #555555;
font-weight: 400;
font-family: "Montserrat";
text-align: center;
text-decoration: none;
}
.hd-text p{
    font-size: 13px;
    line-height: 24px;
    color: #777777;
    font-weight: 400;
    font-family: "Roboto Slab";
}
.post-img{
    max-width: 461px;
    height: 323px;
}
.post-img > img{
    width: 100%;
    height: 100%;
}
.all-posts{
    margin: 60px auto;
    max-width: 1151px;
}
.post-img{
    margin-right: 32px;

}
.hd-link:hover{
    color: #c0301c;
    font-weight: bold;
}
.hd-text p a {
    color: #c0301c;
    text-decoration: none;
}
.post-content{
    max-width: 639px;

}
.post-text{
    font-size: 14px;
line-height: 24px;
color: #555555;
font-weight: 400;
font-family: "Roboto Slab";
margin-top: 71px;
margin-bottom: 35px;
}
.read{
    font-size: 13px;
}
.shape{
    max-width: 1140px;
height: 1px;
background-color: #dddddd;
margin: auto;
}
@media (max-width: 1100px){
    .post{
        flex-direction:column;
        align-items: center;
    }
    .hd {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .post-img {
        margin-right: 0px;
    }
    .post-content {
        padding: 0 20px;
        max-width: unset;
    }
}
.logos-container{
    background-color: #f8f8f8;
    padding-bottom: 100px;

}
.logos{
    display: flex;
    padding-top: 99px;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 121px;
    margin-right: 60px;
}
.logo > img{
    width: 100%;
}
.logo-text{
    margin-top: 68px;
    font-size: 18px;
line-height: 30px;
color: #555555;
font-weight: 400;
font-family: "Roboto Slab";
text-align: center;
max-width: 790px;
margin: auto;

}
.mytxtSlider{
    margin-top: 83px;
}
.title{
    padding: 40px 0;
}
.logo-text p:first-child{
    font-style: italic;
}
.swiper-pagination-bullet {
    width: 13px !important;
    height: 13px !important;  
    background-color: #c0301c !important;
    transform: scale(1) !important;
}
.swiper-pagination-bullet-active-next{
    width: 13px !important;
    height: 13px !important;  
    background-color: #dddddd !important;
    opacity: 1 !important;


}
@media (max-width: 767px){
    .logos{
        flex-wrap: wrap;
    }
    .logo{
        margin-bottom: 22px;
    }
    .mytxtSlider{
        margin-top: 22px;
    }
}
.contacts-page{
    margin-top: 99px;
}
.contacts-page > h3{
    font-size: 20px;
line-height: 24px;
color: #555555;
font-weight: 400;
font-family: "Montserrat";
text-align: center;
text-transform: uppercase;
}
.contacts-page > p{
    font-size: 16px;
line-height: 24px;
color: #555555;
font-weight: 400;
font-family: "Roboto Slab";
text-align: center;
}
.contacts-form{
    display: flex;
    max-width: 1151px;
    margin: auto;
}
.info{
    display: flex;
    align-items: baseline;
    margin-bottom: 38px;

}
.inf-txt > h5{
    font-size: 14px;
line-height: 30px;
color: #555555;
font-weight: 600;
font-family: "Montserrat";
text-transform: uppercase;
margin-bottom: 19px;
}
.inf-txt p{
    font-size: 12px;
line-height: 20px;
color: #555555;
font-weight: 400;
font-family: "Roboto Slab";
}
.icons{
    margin-right: 15px;
  
}
.contacts-form{
    margin-top: 69px;
    margin-bottom: 100px;
}
.item-form{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.item-form input{
    width: 333px;
    height: 44px;
    border: 1px solid #000;
    padding: 0 17px;
    text-transform: uppercase;
    margin-right: 47px;
}
.item-form textarea{
    padding: 15px 17px;
    text-transform: uppercase;
    border: 1px solid #000;


}
.contacts{
    margin-right: 164px;

}
#txt-area{
    width: 90%;

}
.btn-form{
    width: 180px;
    height: 50px;
    border-radius: 2px;
    background-color: transparent;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
    font-family: "Montserrat";
    margin: unset;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    transition: all .2s;

}
.btn-form:hover{
    background-color: #c0301c;
    border: 2px solid #fff;
    color: white;

}
.ct > span{
color: #c0301c;

}
.ct{
    margin-left: 39px;
    font-size: 12px;
line-height: 20px;
font-weight: 400;
font-family: "Roboto Slab";
}
@media (max-width: 1200px){
    .item-form input {
        width: 300px;
        height: 44px;
        border: 1px solid #000;
        padding: 0 17px;
        text-transform: uppercase;
        margin-right: 0px;
    }
    .contacts {
        margin-right: 60px;
    }
    .contacts-form{
        padding: 0 20px;
        justify-content: center;

    }
    #txt-area {
        width: 100%;
    }
}
@media (max-width: 900px){
    .contacts-form {
        padding: 0 20px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .item-form {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        flex-direction: column;
    }
    .item-form input {
        width: 100%;
        height: 44px;
        border: 1px solid #000;
        padding: 0px 17px;
        text-transform: uppercase;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .forms{
        padding: 0 10px;

    }
    .ct{
        margin-top: 10px;

    }
    .date{
        font-size: 15px;

    }
}
.footer{
    background-color: #c0301c;
}
.in-soc{
    display: flex;
}
.inner-footer{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.copy{
    font-size: 12px;
line-height: 20px;
color: #ffffff;
font-weight: 400;
font-family: "Roboto Slab";
}
.sc{
    margin-right: 22px;
}
.sc:last-child,.cat:last-child{
    margin-right: 0px !important;
}

.cross{
    margin: 18px auto;
    flex-direction: row-reverse;
    margin-left: 40px;
    transition: .4s;
}
.mn{
 display: none;
}
.fixid-header{
    position: fixed;
    background-color: #671d16;
    z-index: 999;
}

.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .modal-window > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #fadbd8;
  }
  .modal-window header {
    font-weight: bold;
  }
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 85%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    font-family: sans-serif;
  }
  .modal-close:hover {
    color: black;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-window > div {
    border-radius: 1rem;
  }
  
  .modal-window div:not(:last-of-type) {
    margin-bottom: 30px;
  }
  
 